.aboutText {
    flex: 1;
}

.aboutText h2 {
    color: #f0a500;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.aboutText p, .aboutText ul {
    margin-bottom: 1rem;
}

.aboutText ul {
    padding-left: 1.5rem;
}